# 01.intro

## 단축키 

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alter + entter : 지금 셀 실행 & 아래에 새로운 셀 추가

In [ ]:
# 주석입니다.

# 1. 변수

변수이름 '=' 값

- 변수이름은 어떤 이름이든 상관없음
- 영어, 숫자, '_'를 이용해 선언
- 키워드는 사용불가

In [1]:
a = 10

In [2]:
a

10

In [3]:
import keyword 
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# 1.1 number

In [7]:
a = 100

In [8]:
a

100

In [9]:
type(a)

int

In [10]:
b = 1.1

In [11]:
b

1.1

In [12]:
type(b)

float

In [13]:
c = 1 - 4j

In [14]:
c

(1-4j)

In [15]:
type(c)

complex

In [16]:
c. imag

-4.0

In [17]:
c.real

1.0

# 1.2 boolean

`True`, `False`로 이루어진 타입

In [18]:
a = True

In [19]:
type(a)

bool

# 1.3 NONE

데이터가 없음을 의미

In [20]:
a = None

In [21]:
type(a)

NoneType

# 1.4 String
- 문자열은 `'`,`"`를 이용하여 표현

In [23]:
a = 'hello'

In [24]:
type(a)

str

In [25]:
b = "world"

In [26]:
type(b)

str

In [43]:
age = input()

 111

In [44]:
age

'111'

In [45]:
type(age)

str

In [48]:
print('안녕하세요 "곽승준"입니다')

안녕하세요 "곽승준"입니다

In [41]:
print("안녕하세요 \"곽승준\"입니다")

안녕하세요 "곽승준"입니다

In [52]:
a = '''
여기는 \n문자열입니다.
여러\t줄을 작성가능합니다
'''

In [53]:
print(a)

여기는
문자열입니다.
여러	줄을 작성가능합니다

In [54]:
print('하나','둘','셋')

하나 둘 셋

# String interpolation

1. %-formatting
2. str.format()
3. f-string

In [58]:
age = 100

In [59]:
print('홍길동은 %s살입니다' %age)

홍길동은 100살입니다

In [60]:
print('홍길동은 {}살입니다'.format(age))

홍길동은 100살입니다

In [62]:
print(f'홍길동은 {age}살입니다.')

홍길동은 100살입니다.

# 2. 연산자

## 2.1 산술연산자

In [131]:
a = 2
b = 3

In [132]:
print(a+b)
print(a-b)
print(a*b)
print(a/b) # 나눈 값
print(a%b)

5
-1
6
0.6666666666666666
2

In [133]:
a + b
a - b

-1

In [78]:
print(a**b)
print(a//b) # 나눈 몫

# mod
print(divmod(a,b))

8
0
(0, 2)

# 2.2 비교연산자

In [80]:
a = 5
b = 10

In [84]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [86]:
print(a == b)
print(a != b)

False
True

In [88]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

# 2.3 논리연산자

- `not` : 값을 반대로 전환

In [91]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [92]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [95]:
print(not True)

a = True
print(not a)

False
False

In [98]:
# 단축평가(and)
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

In [100]:
print(None or 'index.html')

index.html

In [101]:
print('login.html' or 'index.html')

login.html

# 2.4 복합연산자

In [115]:
a=2
b=3

In [116]:
a = a + b
a = a - b

In [117]:
print(a)

2

In [119]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b
print(a)

8.0

# 2.5 기타연산자

In [120]:
a = 'hi'
b = 'hello'

In [123]:
#concatenation
a + b

'hihello'

In [127]:
a = [1,2,3]
b = [9,8,7]

In [135]:
a + b

5

In [137]:
print('a' in 'apple')
print('z' in 'apple')

True
False

In [139]:
print(1 in [1,2,3])
print(100 in [1,2,3])

True
False

In [140]:
a=123123
b=123123
print(a is b)

False

In [144]:
a=10
b=10
print(a is b)

True

## 연산자 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산사(*,/)
3. +,-
4. 비교연산자,is,in
5. not
6. and,or

In [147]:
print(-3**4)
print((-3)**4)

-81
81

# 3. 형변환
## 3.1 암시적 형변환

In [148]:
a = True
b = False
c = 1

In [149]:
print(a+c)

2

In [151]:
int_num = 3
float_num = 3.3
complex_num = 3+3j

In [153]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(6+3j)

In [180]:
a = 1
b = '번'

In [181]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [182]:
print(str(a)+b)

1번

In [183]:
a = '100'

In [185]:
print(type(int(a)))

<class 'int'>

age = int(input())

In [186]:
123123

123123

In [187]:
print(type(age))

<class 'int'>

In [172]:
a = '3.3'

In [173]:
type(int(a))

ValueError: invalid literal for int() with base 10: '3.3'

In [188]:
type(float(a))

float

In [189]:
a = 1
b = 0
c = 100

In [190]:
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [191]:
print(bool(''))
print(bool(a))

False
True

In [193]:
print(bool([]))
print(bool([1,2,3]))

False
True

# 4. 시퀀스 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되어있다는 것은 정렬된것과는 다르다)

1. 리스트(list)
2. 튜플(tuple)
3. 레인지(range)
4. 문자열(string)

# 4.1 List(배열)
- 선언 : 변수이름 = [value1, value2, value3]
- 접근 : 변수이름[index]

In [194]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [199]:
location = ['서울', '대전', '부산']
print(location)
print(type(location))

print(location[0])
print(location[-1])

location[2]='제주'
print(location)

['서울', '대전', '부산']
<class 'list'>
서울
부산
['서울', '대전', '제주']

# 4.2 Tuple
- 선언 : 변수이름 = (Value1,Value2,Value3,...)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정불가능(immutable)하다!

In [202]:
t = (1,2,3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [203]:
t[2]=100

TypeError: 'tuple' object does not support item assignment

In [206]:
result = divmod(9,4)
print(type(result))
print(result[0])

<class 'tuple'>
2

In [209]:
x,y = (1,2)
print(x,y)

x,y= (y,x)
print(x,y)

1 2
2 1

# 4.3 range
- range(n) : 0부터 n-1까지 범위
- range(n,m) : n부터 m-1까지 범위
- range(n,m,s) : n부터 m-1까지 s만큼 띄움

In [211]:
r = range(5)
print(r)
print(type(r))

range(0, 5)
<class 'range'>

In [214]:
r = range(5,15)
print(r)

range(5, 15)

In [215]:
r = range(5,15,2)
print(r)

range(5, 15, 2)

In [216]:
list(r)

[5, 7, 9, 11, 13]

# 4.4 String
기본 데이터 구조 참고

# 4.5 시퀀스에서 사용 가능한 연산/함수

In [217]:
my_list = [1,2,3,4,5]
my_tuple = (11,12,13,14,15)
my_range = range(1,10,2)
my_string = '일이삼사오'

In [219]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
12
3
이

In [222]:
#slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(12, 13)
range(3, 7, 2)
이삼

In [225]:
print(my_list[1:4:2])
print(my_range[2:7:2])

[2, 4]
range(5, 11, 4)

In [228]:
print(my_list[:3])
print(my_list[3:])

[1, 2, 3]
[4, 5]

In [232]:
# in
print(1 in my_list)
print(11 in my_tuple)
print(1 in my_range)
print('일' in my_string)

True
True
True
True

# not in
print(11 not in my_list)
print(100 not in my_tuple)
print(1 not in my_range)
print('구' not in my_string)

In [241]:
# concatenation
print(my_list + [1,2,3,4,5])
print(my_tuple + (1,2,3))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(11, 12, 13, 14, 15, 1, 2, 3)

In [246]:
#*
print(my_string * 3)
print(my_list * 3)

print([[0]*10]*10)

일이삼사오일이삼사오일이삼사오
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [247]:
len(my_list)

5

In [248]:
min(my_tuple)

11

In [249]:
max(my_range)

9

In [250]:
max(my_string)

'일'

In [251]:
my_list.count(1)

1

# 5. 시퀀스 데이터가 아닌 자료구조
# 5.1 set
수학에서 사용하는 집합과 동일하게 처리(중복된 값이 없음)
- 선언 : 변수이름={value1,value2,value3}

In [255]:
my_set_a={1,2,3,4,5}
my_set_b={1,3,5,7,9}

In [260]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [261]:
my_list = [1,2,3,4,5,1,4,5]
print(set(my_list))

{1, 2, 3, 4, 5}

# 5.2 dictionary
- 선언 : 변수이름 = {key1: value1, key2: value2, key3 : value3}
- 접근 : 변수이름[key]
- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 값을 사용가능.(불변값: string, integer...)
- value에는 모든 데이터 가능.(list,dict도 가능)

In [266]:
my_dict = {'서울': '02','경기': '031'}
my_dict['서울']

'02'

In [279]:
dict_a={
    'name': 'seungjun',
    'age': 10,
    'location': 'seoul',
    'numbers': [1,2,3,4,5],
    'friends': {
        'a': 10,
        'b': 11,
    },
}

print(dict_a['age'])
print(dict_a['numbers'][3])
print(dict_a['friends']['b'])

10
4
11

In [280]:
dict_a.keys()

dict_keys(['name', 'age', 'location', 'numbers', 'friends'])

In [281]:
dict_a.values()

dict_values(['seungjun', 10, 'seoul', [1, 2, 3, 4, 5], {'a': 10, 'b': 11}])

# 데이터 타입
1. Number
2. Boolean
3. String

# 자료구조
- 시퀀스 자료형
  1. [List] : mutable
  2. (Tuple): immutable
  3. range(): immutable
  4. 'String' immutable
     
- 시퀀스가 아닌 자료형
  1. {set}: mutable
  2. {Dict: ionary}: mutable