# 제어문

# 조건문(if문)

```python
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드

```

1. `if`문은 반드시 참/거짓을 판단할 수 있는 `조건식`과 함께 사용한다.
2. `조건식`이 참인 경우 `:` 이후의 문장을 실행
3. `조건식`이 거짓인 경우 : `else`이후의 문장을 실행한다

In [3]:
my_string=input()

if my_string=='12/25':
    print('크리스마스입니다')
else:
    print('크리스마스가 아닙니다')

 12/12

크리스마스가 아닙니다

In [10]:
num = input('숫자를 입력해주세요 : ')
num=int(num)

if num % 2 == 0:
    print('짝수입니다')
else:
    print('홀수입니다')



print(num)
print(type(num))

숫자를 입력해주세요 :  123

홀수입니다
123
<class 'int'>

In [11]:
num = input('숫자를 입력해주세요 : ')
num=int(num)

if num % 2 == 1:
    print('홀수입니다')
else:
    print('짝수입니다')

숫자를 입력해주세요 :  123

홀수입니다

In [13]:
# num을 2로 나눈 나머지는 0,1 두가지 경우가 있다.
# if 조건식에 0,1은 자동형변환이 일어나 False,True로 변환된다
num = input('숫자를 입력해주세요 : ')
num=int(num)

if num % 2 :
    print('홀수입니다')
else:
    print('짝수입니다')

숫자를 입력해주세요 :  123

홀수입니다

# elif

```python
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
elif<조건식>:
    elif 조건이 참인경우 실행
...
else:
    둘다 만족 안하는 경우 실행

```

In [19]:
score = int(input())

#90점 이상 A(95점이상이라면 good 추가)
# 80점 이상 B
# 70점 이상은 c
# 나머지는 F

if score >= 90:
    print('A')
    if score >= 95:
        print('good')
elif score >=80:
    print('B')
elif score >=70:
    print('c')
else:
    print('F')

 95

A
good

# 조건표현식

```python
true_value if <조건식> else false_value


```

In [2]:
print('True') if 1 < 2 else print('False')

True

In [3]:
if 1<0:
    print('True')

else:
    print('False')

False

In [6]:
num = -5 

if num >= 0:
    value = num
else:
    value = 0

print(value)

0

In [9]:
num = -5

value = num if num >= 0 else 0

print(value)

0

In [10]:
num = 10

if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'

print(result)

짝수

In [16]:
num = 10

result = '홀수' if num % 2 == 1 else '짝수' # result = '짝수' 안써도 됨

print(result)

짝수

# 반복문

# while문
```python
while <조건식>:
    실행할 코드
```

In [17]:
a = 0

while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [18]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고해줘 : ')

안녕이라고해줘 :  123
안녕이라고해줘 :  안녕

# for 문

정해진 범위 내의 반복
```python
for variable in sequence:
    실행할 코드

```

In [19]:
numbers =[1,2,3,4,5]

for number in numbers:
    print(number)

1
2
3
4
5

In [22]:
word = input('단어를 입력해주세요 : ')

for char in word: # 이거 쓰고
    print(char)

단어를 입력해주세요 :  apple

a
p
p
l
e

In [23]:
for i in range(5): # 이거쓰고
    print(i)

0
1
2
3
4

In [24]:
for i in (1,2,3,4,5): #이거는 잘 안쓸듯
    print(i)

1
2
3
4
5

In [39]:
# 1~30까지 중 홀수 출력

for i in range(30):
    if i % 2 == 1:
        print(i)



# 1~30까지 중 홀수 출력 리스트로 출력
result = []

for i in range(30):
    if i % 2 == 1:
        result.append(i)
        
print(result)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [50]:
menus=['라면','떡볶이','김밥']

for menu in menus:
    print(menu)

라면
떡볶이
김밥

In [49]:
for i in range(len(menus)):
    print(menus[i])

라면
떡볶이
김밥

In [55]:
for i in enumerate(menus):
    print(i)

(0, '라면')
(1, '떡볶이')
(2, '김밥')

In [57]:
for index,menu in enumerate(menus):
    print(index, menu)

0 라면
1 떡볶이
2 김밥

# dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key,value in dict.items():

In [77]:
info = {
    'name':'seungjun',
    'location':'seoul',
    'phone':'010-123-1234'
}

In [78]:
for i in info:
    print(i)
    print(info[i])

name
seungjun
location
seoul
phone
010-123-1234

In [82]:
blood_type = {
    'A' : 5,
    'B' : 7,
    'O' : 10
}

print('혈액형 목록은 다음과 같습니다')
for i in blood_type:
    print(i)

In [84]:
blood_type.keys()

dict_keys(['A', 'B', 'O'])

In [93]:
result = 0

for value in blood_type.values():
    # print(value)
    result += value
    
print(f'총인원은 {result}명입니다')

총인원은 22명입니다

In [101]:
for key,value in blood_type.items():
    print(f'{key}형은 {value}명입니다')

A형은 5명입니다
B형은 7명입니다
O형은 10명입니다

# break 문
반복문을 종료시키는 키워드

In [107]:
for i in range(100):
    print(i)
    if i > 10:
        print('10을 넘었어!!')
        break

0
1
2
3
4
5
6
7
8
9
10
11
10을 넘었어!!

In [111]:
rice=['보리','보리','보리','쌀','보리','보리']

for i in rice:
    print(i)
    if i == '쌀':
        print('잡았다!!')
        break

보리
보리
보리
쌀
잡았다!!

# continue 문

continue 이후의 코드를 실행하지 않고 다음 반복을 실행

In [113]:
for i in range(10):
    if i % 2:
        continue
        
        
    print(i)

0
2
4
6
8

In [116]:
age = [10,20,30,40,50]

for i in age:
    if i < 20:
        continue
        
    print(f'{i}살은 성인입니다')

20살은 성인입니다
30살은 성인입니다
40살은 성인입니다
50살은 성인입니다

# else 문
else문은 끝까지 반복 후 실행합니다(break 만나지 않는 경우)

In [121]:
for i in range(12):
    print(i)
    if i > 10:
        break

else:
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
10
11

In [124]:
numbers=[1,2,3,4,5]
print(1 in numbers)
print(99 in numbers)

True
False

In [130]:
numbers=[1,2,3,4,5]
target = 3

for i in numbers:
    print(i)
    if i == target:
        print('True')
        break

else:
    print('False')

1
2
3
True

# pass문

오류없이 일단 pass로 넘김

In [131]:
if True:
    pass

In [132]:
def login():
    pass

def logout():
    pass

# match case 문
```python
match value:
    case 조건:
        실행할 코드
    case 조건:
        실행할 코드
    case _:
        실행할 코드
```

In [143]:
status = 404

match status:
    case 400 | 405:
        print('bad request')
    case 404:
        print('not found')
    case _:
        print('something is wrong')

not found