# Error

# Syntax error

In [1]:
if True:
    pass
else

SyntaxError: expected ':' (3448656250.py, line 3)

In [2]:
print('hi'

SyntaxError: incomplete input (2401491204.py, line 1)

In [3]:
if True print('hello')

SyntaxError: invalid syntax (3421040245.py, line 1)

# exception

In [4]:
print(5/0)

ZeroDivisionError: division by zero

In [5]:
print(hello)

NameError: name 'hello' is not defined

In [6]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [8]:
import random

In [10]:
random.sample([1,2,3,4])

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [14]:
random.sample([1,2,3,4],2,2,2,2)

TypeError: Random.sample() takes 3 positional arguments but 6 were given

In [15]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [16]:
numbers = [1,2,3,4]
numbers.index(100)

ValueError: 100 is not in list

In [18]:
numbers = [1,2,3,4]
numbers[100]

IndexError: list index out of range

In [19]:
my_dict={
    'apple': '사과',
    'banana': '바나나'
}

my_dict['melon']

KeyError: 'melon'

In [20]:
import asdf

ModuleNotFoundError: No module named 'asdf'

In [21]:
while True:
    continue

KeyboardInterrupt:

# 예외처리

```python
    try:
        code
    except 예외:
        code
```

In [25]:
try:
    num = int(input('숫자를 입력해주세요 : '))
    print(f'{num}의 세제곱은 {num ** 3}입니다')
except ValueError:
    print('숫자를 입력하세요~')

숫자를 입력해주세요 :  asdf

숫자를 입력하세요~

In [27]:
try:
    num = int(input('100을 나눌값을 입력해주세요 : '))
    print(f'100을 {num}으로 나누면 {100/num}입니다')
except ValueError:
    print('숫자를 입력하세요~')
except ZeroDivisionError:
    print('0으로는 나눌 수 없어요~')

100을 나눌값을 입력해주세요 :  0

0으로는 나눌 수 없어요~

In [31]:
try:
    print(asdf)
    num = int(input('100을 나눌값을 입력해주세요 : '))
    print(f'100을 {num}으로 나누면 {100/num}입니다')
except(ValueError,ZeroDivisionError):
    print('Valueerror나 zeor division error 입니다')
except:
    print('something is wrong')

something is wrong

In [32]:
try:
    my_list = [1,2,3]
    print(my_list[100])
except IndexError as err:
    print('범위가 문제입니다~')
    print(err)

범위가 문제입니다~
list index out of range

In [35]:
# else => 정상 실행 될때 좋은데~ 

try:
    numbers = [1,2,3]
    num = numbers[100]
except:
    print('오류 발생')
else:
    print(num ** 3)

오류 발생

In [37]:
# finally => 예외나 정상 상관없이 마지막에 실행되는 코드~

try:
    numbers = [1,2,3]
    num = numbers[1]
except:
    print('오류 발생')
finally:
    print('end')

end

In [38]:
#예외를 강제로 발생시키는 상황에서 사용
raise

RuntimeError: No active exception to reraise

In [51]:
for i in range(100):
    if i == 50:
        print(i)
        raise

50

RuntimeError: No active exception to reraise

In [50]:
#연습
def my_div(num1,num2):
    try:
        result = num1/num2    
    except(ValueError,ZeroDivisionError):
        print('0이나 숫자가 아닌값으로 나눌 수 없어요~')
        # return None 
    except:
        print('숫자를 넣어야합니다')
        # return None
    else:
        return result
       


print(my_div(5,0))
print(my_div('5','0'))
print(my_div(5,2))

0이나 숫자가 아닌값으로 나눌 수 없어요~
None
숫자를 넣어야합니다
None
2.5